body {
  background-color: var(--body-backColor);
  color: var(--body-textColor);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--body-headingColor);
}

.container {
}

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main {
  flex: 1;
}

@media screen and (min-width: 1401px) {
  .padding_section {
    padding: 20px 200px;
  }

  .margin_section {
    margin: 20px 80px;
  }
}
@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768) {
}
@media screen and (max-width: 575px) {
}
